@model IEnumerable<LexiconMovies.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@System.Globalization.CultureInfo.CurrentUICulture / @System.Globalization.CultureInfo.CurrentUICulture
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => movie.Title)
                <td>
                    @Html.DisplayFor(modelItem => movie.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@movie.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@movie.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@movie.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
