@model IEnumerable<LexiconMovies.Models.Movie>
@{
    ViewData["Title"] = "Index";
}

<h1>Movies</h1>

<form method="get" class="form-inline float-right">
    <label for="query" class="control-label">Search</label> &nbsp;
    <input id="query" name="query" class="form-control" size="20" value="@ViewBag.Query" />
</form>

<p id="destination" style="border: 1px solid red">
    <a asp-action="Create"
       data-ajax="true"
       data-ajax-method="GET"
       data-toggle="tooltip"
       data-placement="top"
       title="Add new movie"
       data-ajax-mode="replace"
       data-ajax-update="#destination">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(model => model.Title)         </th>
            <th> @Html.DisplayNameFor(model => model.ReleaseDate)   </th>
            <th> @Html.DisplayNameFor(model => model.Genre)         </th>
            <th> @Html.DisplayNameFor(model => model.Price)         </th>
            <th> @Html.DisplayNameFor(model => model.Rating)         </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => movie.Title)</td>
                <td>@Html.DisplayFor(modelItem => movie.ReleaseDate)</td>
                <td>@Html.DisplayFor(modelItem => movie.Genre)</td>
                <td>@Html.DisplayFor(modelItem => movie.Price)</td>
                <td>
                    @*await Component.InvokeAsync("Stars", new { movieId = movie.Id })*@
                    <vc:stars movie-id="@movie.Id" />
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@movie.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@movie.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (!Model.Any())
{

    <div class="row">
        <hr />
        <div class="col-3">
        </div>
        <div class="col-6">

            <blockquote class="">
                <p>
                    There's nothing to see. I used to live here, you know.
                </p>
                <cite>
                    &ndash; Luke Skywalker
                </cite>
            </blockquote>
            <p><small>(Nothing maches your search)</small></p>

        </div>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
